/*
.rajdhani-light {
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.rajdhani-regular {
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.rajdhani-medium {
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.rajdhani-semibold {
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.rajdhani-bold {
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-style: normal;
}
    
.rajdhani-light {
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.rajdhani-regular {
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.rajdhani-medium {
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.rajdhani-semibold {
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.rajdhani-bold {
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-style: normal;
}
*/

/* set our defaults and our constants. we need to use the ROOT selector */ 

* {
    --base: #FFFFFF;
    --borderColor: #454545;
    --cardColors: rgba(25,25,25,.82);
    --accentColor: #FF1744; 
    color: white; 
    font-family: "Roboto Mono", monospace;
}

/* selecting just the body element*/ 

body {
    background-color: #454545;
    background-image: url('./assets/hexigon.jpg');
    padding-left: 60px;
    padding-right: 60px; 
    padding-top: 0px; 
    padding-bottom: 0px; 

}


header {

    padding-top: 16px; 
    padding-bottom: 16px; 
    margin-bottom: 32px; 
    font-family: "Roboto Mono", monospace;
    color: var(--accentColor);
    font-size: 32px; 
    font-weight: 700; 
    /* opacity is the property that allows us to change how see-through our elements are. range of values: 1 is 100% opaque (not seethrough at all) and 0 is invisible.*/ 
 

}


/*PSEUDO-ELEMENTS reference: https: //www.w3schools.com/css/css_pseudo_elements.asp  */
header::first-letter{
    font-size: 48px;
}

/*style the title card/hero text and select by class*/

.title{
    font-family: "Rajdhani", sans-serif;
        font-weight: 600;
        font-style: normal;
    font-size: 72px; 
    margin-bottom: 32px; 
    line-height: 84px; 

}

.title::first-letter{
    color: var(--accentColor);
}

/* TEXT-SHADOW */ 

h2{
    font-family: "Rajdhani", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 36px;
        margin-bottom: 32px;
        text-transform: uppercase;
        color: white; 
        text-shadow: 3px 2px 0px var(--accentColor);
}

.cards {
}

/*TRANSITIONS OVERVIEW: https: //www.w3schools.com/css/css3_transitions_timing.asp*/

.cards div {

    background-color: var(--cardColors);
    padding: 16px; 
    border: .5px solid var(--borderColor);
    border-radius: 4px;
    width: 75%; 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 24px; 

    /* short hand for centering items is margin: 0 auto 
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto; 
    margin-left: auto;*/ 

    transition: all 500ms; 

}

.cards div:hover{

    box-shadow: 8px 8px var(--accentColor);
  

}

.cards div > img {
    width: 100%;
    height: 300px; 
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 2px 1px 1px rgba(0,0,0,.4);
}

h3 {
    color: #FFF;
        font-family: "Roboto Mono";
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 126.637%;
        /* 40.524px */
        letter-spacing: 3.52px;
        text-transform: uppercase;
}

.education > ul {
    background-color: var(--cardColors);
    font-size: 24px; 
    list-style-image: url('./assets/arrows.svg');
}

.education > ul li { 
    padding: 16px; 
}

.year { 
    color: var(--accentColor);
}