/*
    font-family: "IBM Plex Mono", monospace;
  font-family: "News Cycle",
  sans-serif;

*/ 

/*REM VS EM*/

* { 
    --primaryWhite: white; 
    --primaryBlack: black; 
    --emphasisRed: #C20000;
    font-size: 12px; 
        font-family: "IBM Plex Mono", monospace;

}

body{ 
  padding: 0px; 
  margin: 0px; 


}

/* questions for PARENT flex MODULE

1. What is the parent item? 
1.5: WHAT AXIS are we flexing across? 
2. What is the ARRANGEMENT or JUSTIFY of the internal items (distribution across the X axis) 
3. How are these items supposed to sit IN the parent (align items, across the y axis)
*/ 
nav {
  background-color: var(--primaryBlack);
  color: var(--primaryWhite);
  display: flex; 
  justify-content: center;
  align-items: center;
  padding: 24px; 
  margin: 0 auto;
  font-family: "IBM Plex Mono", monospace;
  width: 100vw; 

  /* flex item child*/ 



}

nav > img { 
  height: 60px; 
  width: 60px; 
}

nav > ul {

  margin-left: 24px; 
 /* as a flex item*/ 

 flex-grow: auto;
 /* as a flex container */ 
  list-style-type: none;
  display: flex; 
  justify-content: space-around;
}

nav ul > li { 
  padding: 12px; 
  margin-right: 12px; 
}

nav ul > li:hover{
  background-color: var(--emphasisRed);
  color: var(--primaryBlack);
}

.hero{


  /*fix for calc function not working*/
  background-image: url('./assets/thehiss.webp'); 
  height: calc(100vh - 113px); 
  width: 100vw; 
  background-size: cover;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 36px; 
}

/*flexing in column means that we are distributing equally across the y  (cross) axis.*/ 

/* comma is a brand new selector it means AND*/ 
.hero  header, .hero p{
  margin: 0 auto; 

}

.hero header{
  font-size: 60px; 
  color: white; 
}

.hero p{
  font-size: 48px; 
  color: white; 
}